@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger" style="color:red">خطا</h1>
<h2 class="text-danger" style="color:red">هنگام بررسی درخواست شما خطایی رخ داده است</h2>