@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        #bottom {
            width: 100%;
            background-color: blue;
        }

        .inner {
            width: 49%;
            height: 49%;
            float: left;
        }
    </style>
}

<div class="banner-wrap">
    <section class="banner"></section>
</div>

<div id="bottom" style="background-color:#21282a;">

</div>





