@page "{id}"
@model PlateDelivery.Web.Pages.Leon.ServiceCodings.EditServiceCodingModel
@{
    var Title = ViewBag.Title;

}

<form enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="EditServiceCodingViewModel.Id" />
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @Title
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.ServiceName" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditServiceCodingViewModel.ServiceName" class="form-control  " style="font-size:medium" placeholder="لطفا نام خدمت را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditServiceCodingViewModel.ServiceName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.ServiceFullName" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditServiceCodingViewModel.ServiceFullName" class="form-control  " style="font-size:medium" placeholder="لطفا نام کامل خدمت را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditServiceCodingViewModel.ServiceFullName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.ServiceCode" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditServiceCodingViewModel.ServiceCode" class="form-control" onkeypress="return onlyNumberKey(event)" style="font-size:medium" placeholder="لطفا کد خدمت را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditServiceCodingViewModel.ServiceCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.CertainId" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <select asp-for="EditServiceCodingViewModel.CertainId" asp-items="@(ViewData["Category"] as SelectList)" class="form-control col-md-7 col-xs-12" style="font-size:medium"></select>
                            <span class="text-danger" asp-validation-for="EditServiceCodingViewModel.CertainId"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.CodeLevel4" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditServiceCodingViewModel.CodeLevel4" class="form-control" onkeypress="return onlyNumberKey(event)" style="font-size:medium" placeholder="لطفا کد تفضیل 4 را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditServiceCodingViewModel.CodeLevel4" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.CodeLevel6" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditServiceCodingViewModel.CodeLevel6" class="form-control" onkeypress="return onlyNumberKey(event)" style="font-size:medium" placeholder="لطفا کد تفضیل 6 را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditServiceCodingViewModel.CodeLevel6" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.Amount" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditServiceCodingViewModel.Amount" class="form-control" onkeypress="return onlyNumberKey(event)" style="font-size:medium" placeholder="لطفا مبلغ را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditServiceCodingViewModel.Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="EditServiceCodingViewModel.OldAmount" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditServiceCodingViewModel.OldAmount" class="form-control" onkeypress="return onlyNumberKey(event)" style="font-size:medium" placeholder="لطفا مبلغ قدیم را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditServiceCodingViewModel.OldAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item  form-group">
                        <label asp-for="EditServiceCodingViewModel.IncludeTax" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12  ">
                            <input asp-for="EditServiceCodingViewModel.IncludeTax" type="checkbox" class="js-switch" data-switchery="true" style="display: none;">
                            &nbsp;
                            <label>دارد / ندارد</label>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="item  form-group">
                        <label asp-for="EditServiceCodingViewModel.Ratio" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-12 col-sm-12 col-xs-12  ">
                            <input asp-for="EditServiceCodingViewModel.Ratio" type="checkbox" class="js-switch"  data-switchery="true" style="display: none;">
                            &nbsp;
                            <label>دارد / ندارد</label>
                        </div>
                    </div>
                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-success" value="ثبت" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>