@page
@model PlateDelivery.Web.Pages.Leon.ImportData.IndexModel
@{
    ViewData["Title"] = "بروز رسانی اطلاعات";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                بروز رسانی اطلاعات

            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">


            <form method="post">
                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">

                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label>انتخاب تصویر کاربر : </label>
                        @* <input type="file" asp-for="EditProfileAdminViewModel.UserAvatar" /> *@
                        <br />
                    </div>

                </div>
                <hr />
                <div class="item form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                        <input type="submit" class="btn btn-success" value="بروز رسانی" />
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

