@page
@using PlateDelivery.Core.Security
@model PlateDelivery.Web.Pages.Leon.TopYarTmps.GenerateDocumentModel
@{
    
}


<div class="col-md-12 col-sm-12 col-xs-12">
    @* <div class="loading-container"> *@
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @ViewBag.Title
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="alert alert-success rounded text-danger">
                آیا از ایجاد سند حسابداری اطمینان دارید؟
            </div>
            <form method="post">
                <p> تعداد رکوردها : @Model.TopYarTmpViewModel.TopYarTmpCounts</p>
                <input type="submit" class="btn btn-success btn-round" value="ایجاد فایل" />
                <a asp-page="Index" class="btn btn-info btn-round">انصراف</a>
            </form>
        </div>
    </div>
    @* </div> *@
</div>
