@page "{id}"
@using PlateDelivery.DataLayer.Entities.RoleAgg;
@using PlateDelivery.DataLayer.Entities.UserAgg
@model PlateDelivery.Web.Pages.Leon.Users.EditUserModel
@{
    ViewData["Title"] = "ویرایش کاربر";
    List<Role> roles = ViewData["Roles"] as List<Role>;

}

<form enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="EditUserViewModel.Id" />
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    ویرایش اطلاعات کاربر

                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            نام :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditUserViewModel.FirstName" required="" class="form-control  " style="font-size:medium" placeholder="لطفا نام را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditUserViewModel.FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            نام خانوادگی :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditUserViewModel.LastName" required="" class="form-control  " style="font-size:medium" placeholder="لطفا نام خانوادگی را وارد کنید" type="text">
                            <span class="fa fa-users form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditUserViewModel.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" item form-group">
                        <label class="control-label col-md-7  ">
                            سطح دسترسی :
                        </label>
                        <div class="col-md-8 ">
                            <select name="selectedRoles" class="select2_multiple form-control" style="font-size:medium">
                                <option value="0">لطفا سطح دسترسی را انتخاب کنید</option>
                                @foreach (var item in roles)
                                {
                                    <option value="@item.Id" selected="@((Model.EditUserViewModel.UserRoles.Any(r => r == item.Id)))">@item.RoleName</option>
                                }

                            </select>
                        </div>

                    </div>

                    <div class="item  form-group">

                        <div class="col-md-12 col-sm-12 col-xs-12  ">
                            <input asp-for="EditUserViewModel.IsActive" type="checkbox" class="js-switch" data-switchery="true" style="display: none;">
                            &nbsp;
                            <label>فعال / غیر فعال</label>
                        </div>
                    </div>
                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-success" value="ثبت" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
    {
}
