@page "{id}"
@model PlateDelivery.Web.Pages.Leon.Representations.EditRepresentationModel
@{
    ViewData["Title"] = "ویرایش نمایندگی";

}

<form enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="EditRepresentationViewModel.Id" />
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    ویرایش اطلاعات نمایندگی

                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            کد نمایندگی :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.RepresentationCode" required="" class="form-control  " style="font-size:medium" placeholder="لطفا کد نمایندگی را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.RepresentationCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            نام نماینده :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.BrokerName" required="" class="form-control  " style="font-size:medium" placeholder="لطفا نام نماینده را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.BrokerName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            کد نماینده :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.BrokerCode" required="" class="form-control  " style="font-size:medium" placeholder="لطفا کد نماینده را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.BrokerCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            تلفن نماینده :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.BrokerTell" required="" class="form-control  " style="font-size:medium" placeholder="لطفا تلفن نماینده را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.BrokerTell" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            موبایل نماینده :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.BrokerMobile" required="" class="form-control  " style="font-size:medium" placeholder="لطفا موبایل نماینده را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.BrokerMobile" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            کد2 نماینده :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.BrokerCodeR" required="" class="form-control  " style="font-size:medium" placeholder="لطفا کد2 نماینده را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.BrokerCodeR" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            اعتبار نمایندگی :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.ValidityDate" required="" class="form-control  " style="font-size:medium" placeholder="لطفا اعتبار نمایندگی را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.ValidityDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            کد معادل :
                        </label>
                        <div class="col-md-8">
                            <input asp-for="EditRepresentationViewModel.Extra" required="" class="form-control  " style="font-size:medium" placeholder="لطفا کد معادل را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="EditRepresentationViewModel.Extra" class="text-danger"></span>
                        </div>
                    </div>

                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-success" value="ثبت" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>