@page
@model PlateDelivery.Web.Pages.Leon.Provinces.CreateProvinceModel
@{
    ViewData["Title"] = "افزودن استان";
}

<form enctype="multipart/form-data" method="post">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    افزودن استان
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="item form-group">
                        <label asp-for="CreateProvinceViewModel.ProvinceName" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateProvinceViewModel.ProvinceName" class="form-control  " style="font-size:medium" placeholder="لطفا نام استان را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateProvinceViewModel.ProvinceName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="CreateProvinceViewModel.SubProvince" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateProvinceViewModel.SubProvince" class="form-control  " style="font-size:medium" placeholder="لطفا نام شهرستان یا مرکز را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateProvinceViewModel.SubProvince" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="CreateProvinceViewModel.ProvinceCode" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateProvinceViewModel.ProvinceCode" class="form-control" style="font-size:medium" onkeypress="return onlyNumberKey(event)" placeholder="لطفا کد استان یا مرکز را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span asp-validation-for="CreateProvinceViewModel.ProvinceCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="CreateProvinceViewModel.CodeLevel4" class="control-label col-md-7  ">
                        </label>
                        <div class="col-md-8">
                            <input asp-for="CreateProvinceViewModel.CodeLevel4" class="form-control" style="font-size:medium" onkeypress="return onlyNumberKey(event)" placeholder="لطفا کد استان یا مرکز را وارد کنید" type="text">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                    </div>
                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">

                            <input type="submit" class="btn btn-success" value="ثبت" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
    <script>
        function onlyNumberKey(evt) {

            // Only ASCII character in that range allowed
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }
    </script>
}
